/*  your css code here. If applicable */
.container{
	display:grid;
	grid-template-columns:repeat(25, 40px);
	grid-gap:2px;
}

.square{
	height:40px;
	width:40px;
	background-color:#1D1D1D;
	transition:background-color 1s ease;
}

.square:hover{
background-color:#ffcc00;
}